/* Custom Style Sheet */
body{
  background-color: #888888
}

/* Navbar Decoration */

.mynav {
  background-image: url(../../img/social.jpg);
  background-size: cover;

  }

.navbar-brand {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 3px 3px #777;
}

.mynav a {
  
  /* margin-right: 40px; */
  color: linen !important;

}

.mynav a:hover {
  background-color: #a38f74;

}

.active a {
  border-bottom: 2px solid #a38f74;
}

.dropdown-i {
  color: #777 !important;

}

/* Page Header */

#phdr {
    background-image: linear-gradient(#7D819C, #fff);
    align-items: center;

}

/* body */

.image1 {
  padding: 20px;
}
.gap100 {
    padding: 70px 0px;
}

#map {
  height: 100%;
}

.state {
  stroke-width: 1;
  stroke: black;
}

.county {
  stroke-width: .25;
  stroke: black;
}

.county:hover {
  opacity: 0.5;
}

#county-card {
  background-color: #4F4F4F;
  color: #FAFAFA;
}

.card {
  background-color: #4F4F4F;
  border-radius: 0px;
}


/* Footer */

footer {
  background:#444;
  padding:20px;
}

.design {
  padding-top: 10px;
}

.smed i {
  color: #fff;
  font-size: 30px;
  margin: 10px;

}
.smed i:hover {
  color: #23c769;

}
@media only screen and (max-width: 1140px) {
    .navbar-brand {
  margin-left: 10px;
  }

#tooltip {
  height: 60px;
  width: 200px;
  font: 16px sans-serif;
  pointer-events: none;
  background: #fafafa;
  border: 0px;
  border-radius: 8px;
  padding: 2px;
}