<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css">
    <script src="https://kit.fontawesome.com/735102e3ad.js" crossorigin="anonymous"></script>
    <title>Demographic Drift in America</title>
</head>

<body>
  <section>
      <nav class="navbar navbar-expand- navbar-light bg-light mynav">
        <a class="navbar-brand" href={{ url_for('index') }}>Demographic Drift</a>
           <ul class='justify-content-between' style="list-style-type:none;">
             <li class="nav-item">
                <a class="nav-link active" href={{ url_for('api') }}>API</a>
            </li>
          </ul>
       </nav>
    </section>

   <section style='padding-bottom: 50px;'>
     <div class="container-sm" style=margin-top:30px>
       <div class="row" style=margin:30px>
         <div class="col-12">
           <h2 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing el	</h2>
             <p class="text-center">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, non aperiam explicabo voluptas vel tempore, quos ipsum nisi dicta pariatur ad quasi unde necessitatibus, minus consectetur consequatur voluptatibus repellat debitis?
              </p>
              <!-- <div id='dropdown-container'></div> -->
              
          </div>
        </div>
        <div class="row" id="map-row" style='border: 1px solid #FAFAFA; background-color: #4F4F4F;'>
          <div class="col-9"'>
            <div id="map"></div>
          </div>
          <div class="col-3 card" id='card-container' style='border-left: 1px solid #FAFAFA'>
            <div class='card-title'><div id='dropdown-container'></div>
            </div>
            <div class="card-body" id='county-card'>
                Select a county to see detailed demographic info
            </div>
          </div>
        </div>

        <div class="row" style=margin-top:20px>
          <div class="col-12">
            <h3 class="text-center">Visualizations</h3>
            <div class='row'>
              <div class='col-6' style='border: 1px solid #fafafa; padding: 0;'>
                <div id='plotly'></div>
              </div>
              <div class='col-6' style='text-align: center; border: #fafafa solid 1px'>
                <p>OTHER CHART GO HERE</p>
                <div id="stateDrop"></div>
                <div id='plotly'></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div id="area"></div>
          </div>
        </div>

          <div class="row no-gutters" style=margin:20px>
              <div class="col">
                 <a href=""><IMG SRC="" border="0" alt=""></a>
                </div>
              <div class="col">
                  <a href=""><IMG SRC="" border="0" alt=""></a>
                 </div>
               <div class="col">
                  <a href=""><IMG SRC="" border="0" alt=""></a>
                </div>
              <div class="col">
                 <a href=""><IMG SRC="" border="0" alt=""></a>
             </div>
          </div>
        </div>
      </div>
   </section>

   <footer class='fixed-bottom'>
     <div class="row text-center text-light">
        <div class="col-md-4 smed">
            <a href="https://www.facebook.com/uscensusbureau/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/uscensusbureau/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://github.com/troypramsey/group_project2" target="_blank"><i class="fab fa-github-square"></i></a>
         </div>
            <div class="col-md-4">
               <p class="design">Designed by</p>
            </div>
             <div class="col-md-4">
               <h2>Demographic Drift in America</h2>
             </div>
       </div>
   </footer>

    <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="https://unpkg.com/topojson@3"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src='../static/js/app.js'></script>
  </body>
</html>
